<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-media-session"
        version="1.0.0">
    <name>Cordova Media Session</name>
    <description>Cordova plugin for Media Session API</description>
    <license>MIT</license>
    <keywords>cordova,media,session,api</keywords>

    <js-module src="www/MediaSession.js" name="MediaSession">
        <clobbers target="MediaSession" />
    </js-module>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="MediaSession">
                <param name="android-package" value="com.example.cordovamediasession.MediaSession"/>
            </feature>
        </config-file>
        <source-file src="src/android/MediaSession.java" target-dir="src/com/example/cordovamediasession" />
    </platform>
</plugin>